@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url("banner.css");
@import url("menu.css");
@import url("accueil.css");
@import url("mes-formations.css");
@import url("mes-experiences.css");
@import url("mes-competences.css");
@import url("contacts.css");
@import url("partenaires.css");

body {
	text-align:center;
	margin:0;
	font-family:'Montserrat', sans-serif;
	}

h1,h2,h3,p {
	font-family:'Comfortaa', cursive,
}


h1 {
	margin-top:0;
}

h2 {
	color:white;
	margin-top:0;
	padding-top:20px;
}

p {
	margin-top:0;
	margin-bottom:0;}



/*pour enlever tous les soulignements des textes, etc..*/
a {
	text-decoration:none
}






